@font-face {
    font-family: HelveNeu;
    src: url('../font/HelveticaNeue-CondensedBold.otf');
}
@font-face {
    font-family: Bembo;
    src: url('../font/Bembo.ttf');
}
body{
  font-family: Bembo;
  font-size: 16px;
}
.font-hv{ font-family: HelveNeu;}
.navbar{
  margin-top: 30px;
  margin-bottom: 10px;
}
.hamburger{
  color: white;
  /*z-index: 1;*/
  position: absolute;
  right: 40px;
  top: 40px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: inherit;
}
.ppc_logo{
  /*background-image: url('../img/carousel/ppc_logo_too.png');*/
  /*background-image: url('../img/carousel/home_page_logo.png');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.opening-enclosure{
  height: 100vh;
}
.opening{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*z-index: 1;*/
  padding: 17%;

}
.fade_pic{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.fade_pic_words{
  font-size: 10vw;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.long{
  font-size: 8vw;
}
.not_shown{ display: none;}
.blur_0{background-image: url('../img/carousel/blur_0.jpg');}
.blur_1{background-image: url('../img/carousel/blur_1.jpg');}
.blur_2{background-image: url('../img/carousel/blur_2.jpg');}
.blur_3{background-image: url('../img/carousel/blur_3.jpg');}
.blur_4{background-image: url('../img/carousel/blur_4.jpg');}

.no-padding{
  padding: 0;
}
.blue-over{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 26, 114, 0.75);
}
span.glyphicon{
  color: rgb(0, 26, 114);
  /*color: blue;*/
}
.blue-over:hover {
    background: none;
}
.location-label{
  position: absolute;
  left: 50%;
  bottom: 20%;
  color: white;
  z-index: 5;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  font-size: 16px;
}
.logos-word{
  font-size: 33px;
  position: absolute;
  left: 50%;
  top: 40%;
  color: white;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logos{
  width: 40%;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.comingsoon-label{
  position: absolute;
  left: 50%;
  top: 50%;
  /*color: white;*/
  /*z-index: 5;*/
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgba(108, 194, 74, 1);
}
.property-tile{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.property{
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*cadence*/
.cadence0{background-image: url('../img/buildings/cadence/photo%200.jpg');}
.cadence1{background-image: url('../img/buildings/cadence/photo%201.jpg');}
.cadence2{background-image: url('../img/buildings/cadence/photo%202.jpg');}
.cadence3{background-image: url('../img/buildings/cadence/photo%203.jpg');}
.cadence4{background-image: url('../img/buildings/cadence/photo%204.jpg');}
.cadence5{background-image: url('../img/buildings/cadence/photo%205.jpg');}
/*cole*/
.cole0{background-image: url('../img/buildings/cole/photo%200.jpg');}
.cole1{background-image: url('../img/buildings/cole/photo%201.jpg');}
.cole2{background-image: url('../img/buildings/cole/photo%202.jpg');}
.cole3{background-image: url('../img/buildings/cole/photo%203.jpg');}
.cole4{background-image: url('../img/buildings/cole/photo%204.jpg');}
/*grandmarc*/
.grandmarc0{background-image: url('../img/buildings/grandmarc/photo%200.jpg');}
.grandmarc1{background-image: url('../img/buildings/grandmarc/photo%201.jpg');}
.grandmarc2{background-image: url('../img/buildings/grandmarc/photo%202.jpg');}
.grandmarc3{background-image: url('../img/buildings/grandmarc/photo%203.jpg');}
.grandmarc4{background-image: url('../img/buildings/grandmarc/photo%204.jpg');}
.grandmarc5{background-image: url('../img/buildings/grandmarc/photo%205.jpg');}
.grandmarc6{background-image: url('../img/buildings/grandmarc/photo%206.jpg');}
/*northwestern*/
.northwestern0{background-image: url('../img/buildings/northeastern/photo%200.jpg');}
.northwestern1{background-image: url('../img/buildings/northeastern/photo%201.jpg');}
.northwestern2{background-image: url('../img/buildings/northeastern/photo%202.jpg');}
.northwestern3{background-image: url('../img/buildings/northeastern/photo%203.jpg');}
.northwestern4{background-image: url('../img/buildings/northeastern/photo%204.jpg');}
.northwestern5{background-image: url('../img/buildings/northeastern/photo%205.jpg');}
.northwestern6{background-image: url('../img/buildings/northeastern/photo%206.jpg');}
.northwestern7{background-image: url('../img/buildings/northeastern/photo%207.jpg');}
.northwestern8{background-image: url('../img/buildings/northeastern/photo%208.jpg');}
.northwestern9{background-image: url('../img/buildings/northeastern/photo%209.jpg');}
.northwestern10{background-image: url('../img/buildings/northeastern/photo%2010.jpg');}
/*paseo*/
.paseo0{background-image: url('../img/buildings/paseo/photo%200.jpg');}
.paseo1{background-image: url('../img/buildings/paseo/photo%201.jpg');}
.paseo2{background-image: url('../img/buildings/paseo/photo%202.jpg');}
.paseo3{background-image: url('../img/buildings/paseo/photo%203.jpg');}
.paseo4{background-image: url('../img/buildings/paseo/photo%204.jpg');}
.paseo5{background-image: url('../img/buildings/paseo/photo%205.jpg');}
.paseo6{background-image: url('../img/buildings/paseo/photo%206.jpg');}
.paseo7{background-image: url('../img/buildings/paseo/photo%207.jpg');}
.paseo8{background-image: url('../img/buildings/paseo/photo%208.jpg');}
.paseo9{background-image: url('../img/buildings/paseo/photo%209.jpg');}
.paseo10{background-image: url('../img/buildings/paseo/photo%2010.jpg');}
.paseo11{background-image: url('../img/buildings/paseo/photo%2011.jpg');}
.paseo12{background-image: url('../img/buildings/paseo/photo%2012.jpg');}
/*runaway*/
.runaway0{background-image: url('../img/buildings/runway/photo%200.jpg');}
.runaway1{background-image: url('../img/buildings/runway/photo%201.jpg');}
.runaway2{background-image: url('../img/buildings/runway/photo%202.jpg');}
.runaway3{background-image: url('../img/buildings/runway/photo%203.jpg');}
.runaway4{background-image: url('../img/buildings/runway/photo%204.jpg');}
.runaway5{background-image: url('../img/buildings/runway/photo%205.jpg');}
.runaway6{background-image: url('../img/buildings/runway/photo%206.jpg');}
.runaway7{background-image: url('../img/buildings/runway/photo%207.jpg');}
.runaway8{background-image: url('../img/buildings/runway/photo%208.jpg');}
.runaway9{background-image: url('../img/buildings/runway/photo%209.jpg');}
.runaway10{background-image: url('../img/buildings/runway/photo%2010.jpg');}
.runaway11{background-image: url('../img/buildings/runway/photo%2011.jpg');}
.runaway12{background-image: url('../img/buildings/runway/photo%2012.jpg');}
/*studio*/
.studio0{background-image: url('../img/buildings/studio/photo%200.jpg');}
.studio1{background-image: url('../img/buildings/studio/photo%201.jpg');}
.studio2{background-image: url('../img/buildings/studio/photo%202.jpg');}
.studio3{background-image: url('../img/buildings/studio/photo%203.jpg');}
.studio4{background-image: url('../img/buildings/studio/photo%204.jpg');}
.studio5{background-image: url('../img/buildings/studio/photo%205.jpg');}
.studio6{background-image: url('../img/buildings/studio/photo%206.jpg');}
.studio7{background-image: url('../img/buildings/studio/photo%207.jpg');}
.studio8{background-image: url('../img/buildings/studio/photo%208.jpg');}
.studio9{background-image: url('../img/buildings/studio/photo%209.jpg');}
.studio10{background-image: url('../img/buildings/studio/photo%2010.jpg');}
/*ues*/
.ues0{background-image: url('../img/buildings/ues/photo%200.jpg');}
.ues1{background-image: url('../img/buildings/ues/photo%201.jpg');}
.ues2{background-image: url('../img/buildings/ues/photo%202.jpg');}
.ues3{background-image: url('../img/buildings/ues/photo%203.jpg');}
.ues4{background-image: url('../img/buildings/ues/photo%204.jpg');}
.ues5{background-image: url('../img/buildings/ues/photo%205.jpg');}
.ues6{background-image: url('../img/buildings/ues/photo%206.jpg');}
.ues7{background-image: url('../img/buildings/ues/photo%207.jpg');}
.ues8{background-image: url('../img/buildings/ues/photo%208.jpg');}
.ues9{background-image: url('../img/buildings/ues/photo%209.jpg');}
.ues10{background-image: url('../img/buildings/ues/photo%2010.jpg');}
.ues11{background-image: url('../img/buildings/ues/photo%2011.jpg');}
.ues12{background-image: url('../img/buildings/ues/photo%2012.jpg');}
.ues13{background-image: url('../img/buildings/ues/photo%2013.jpg');}
.ues14{background-image: url('../img/buildings/ues/photo%2014.jpg');}
.ues15{background-image: url('../img/buildings/ues/photo%2015.jpg');}
.ues16{background-image: url('../img/buildings/ues/photo%2016.jpg');}
.ues17{background-image: url('../img/buildings/ues/photo%2017.jpg');}
.ues18{background-image: url('../img/buildings/ues/photo%2018.jpg');}
/*coming soon*/
.comingsoon{
  background: rgba(26, 44, 122, 1);
}
/*contact*/
form {padding-top: 30px;}
.row.pb{
  padding-bottom: 20px;
}
.form-control, .btn { border-radius: 0px;}
form label{
  color: rgba(172, 161, 162, 1);
}
.btn-default{
  margin-top: 40px;
  color: white;
  background-color: rgba(25, 44, 122, 1);
}
.contact_logo {
    width: 100%;
    height: 200px;
}
.footer-text{
  color: rgba(172, 161, 162, 1);
  letter-spacing: 2px;
}
/*slider*/
.carousel-control.left, .carousel-control.right { background-image: none;}
