<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    <div class="container">
      {{ content }}
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-lg-9 col-lg-offset-3 in-the-footer">
            <p class="text-center footer-text">
              <a href="https://goo.gl/maps/azUBMZpTtBx" target="_blank">5950 Sherry Lane . Suite 320 . Dallas,Texas 75225 . </a><a href="tel:2148800350">214.880.0350 . </a><a href="mailto:phoenixpropertyco.com">phoenixpropertyco.com</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    {% include javascript.html %}
  </body>
</html>
